@page "/"

<PageTitle>Home</PageTitle>

<h1>@AtlasFitnessApp</h1>

<p>@WelcomeText</p>

@code{
    private string AtlasFitnessApp = "Atlas fitness app";
    private string WelcomeText = "Welcome to Atlas' fitness app";
}